<table class="table">
  <thead>
    <tr>
    
      <th scope="col">payment</th>
      <th scope="col">Contributer</th>
    </tr>
  </thead>
  <tbody>
      {{#each product}}
    <tr>

      <td>{{this.pay}}</td>
      <td>{{this.name}}</td>
      
    </tr>
    {{/each}}
  </tbody>
</table>